<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
</head>
<body>
  <div id="wrapper">
    <%- include("../partials/header") %>
    <%- include("../partials/navigation") %>

    <main>
      <%- body %> <!-- Aquí se inyectará el contenido de `index.ejs` -->
    </main>

    <%- include("../partials/footer") %>
  </div>
</body>
</html>
